.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.env*
.files/

data/
files/
ingestion/
evaluation/
tests/
README.md
chainlit.md
docker-compose.dev.yml
Makefile
.pre-commit-config.yaml
